# 环境变量文件
.env
.env.*

# Python
*__pycache__/*
*.py[cod]
*$py.class

# 虚拟环境
venv/
env/
ENV/

# 编辑器文件
.vscode/
.idea/
*.swp
*.swo

# 日志文件
*.log

# 证书文件
*.pem
*.key
*.crt

# Flask
.flaskenv
.flaskenv.*

# flask-session
.session/
flask_session/*